.slider {
   overflow: hidden;
   scroll-behavior: smooth;
}

.slider-content {
   display: flex;
}

.card-slider {
   flex: 0 0 100%;
   width: 100%;
   height: 100%;
   position: relative;
}

.card-slider img {
   object-fit: cover;
   height: 90%;
   width: 100%;
   opacity: 0.9;
   padding: 1rem;
}

.followers {
   font-size: 14px;
   text-align: center;
   position: relative;
   margin: 0;
}

button {
   margin-top: 100px;
}

@media screen and (min-width: 768px) {
   .card-slider {
      flex: 0 0 100%;
      height: 320px;
   }
}

@media screen and (min-width: 1024px) {
   .card-slider {
      flex: 0 0 50%;
      height: 320px;
   }
}

@media screen and (min-width: 1280px) {
   .card-slider {
      flex: 0 0 calc(100% / 5);
      width: 100%;
      height: 320px;
   }
}

.active {
   background-color: red;
}