@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

$font-lato: 'Lato', sans-serif;;
$lato-Thin: 100;
$lato-Light: 300;
$lato-Regular: 400;
$lato-Bold: 700;
$lato-Black: 900;